img {
  width: 100%;
}

body {
  background-color: black;
  color: white;

}

hr {
  color: white;
}

input.form-control.form-control-lg, 
textarea.form-control.form-control-lg,
select.form-control.form-control-lg {
  border: none;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-color:black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

#footer {
  background-color: rgb(37, 37, 38);
  height: 650px;
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
  color: grey;
  line-height: 1.5;

}

.footer-list {
  line-height: 2;
}

#main-navbar {
  background-color: red;
}

#good-navbar {
  font-weight: bolder;
  color: white;
}

#streams-navbar {
  font-weight: lighter;
  color: white;
}

#forum-body-text {
  color: black;
  font-size: 1.1rem;
  margin-bottom: 0;
}

#forum-posted-by-text {
  font-size: 0.8rem;
  color: grey;
  margin-top:0;
  margin-bottom:15px;
}

p.lead {
  color: grey;
}

#welcome-name:any-link {
  color: white;
}

#forum-header {
  margin-bottom: 1.7rem;
}

#add-title-button {
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #28a745;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.trailer-links {
  color: #00bb79;
  font-weight: lighter;
}

a.imdb-links {
  color: #fdcc59;
  font-weight: lighter;
  margin-left: 20px;
}

.source-links {
  margin-left: 20px;
  color: grey;
  font-weight: lighter;
}

.notes {
  color: grey;
  font-weight: lighter;
}

#remove-video-button {
  margin-top: 20px;
  padding: 0.2rem .45rem;
  font-size: 0.5rem;
  border-radius: 50%;
}

#remove-video-container {
  text-align: right;
}

.date-video-added-caption, .notes {
  font-size: 0.8rem;
  color: grey;
  margin-top: 10px;
}

div.col-md-12 {
  padding-right: 0;
  padding-left: 0;
}